QDockWidget::title {
    background: palette(Mid);
    padding: 4px;
    color: palette(WindowText);
    border-bottom: 1px solid palette(Dark);
}

QDockWidget QWidget {
    background-color: palette(Midlight);
    border: 1px solid palette(Dark);
    border-top: none;
}

QMainWindow::separator:hover {
    background: palette(Accent);
}

QWidget#centralwidget {
    background-image: url(":/img/logo/logo-mono-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
}

QToolBar {
    background-color: palette(Base);
    border: 1px solid palette(Mid);
    min-height: 30px;
}