QMenuBar {
    font-family: 'Segoe UI Variable';
    background-color: transparent;
    spacing: 2px;
    padding: 3px;
    padding-top: 0px;
    border: none;
}

QMenuBar::Item {
    padding: 2px 6px;
    padding-top: 0px;
    margin: 2px;
    margin-bottom: 10px;
    background: transparent;
    border-bottom: 1px solid palette(Mid);
}

QMenuBar::Item:pressed {
    /*background: #0e0e0e; */
    background-color: palette(highlight);
}

QMenu {
    font-family: 'Segoe UI Variable';
    background-color: palette(Midlight); /* #272727 */
    border: 1px solid palette(Mid); /* #1C1C1C */
}

QMenu::Item {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

QMenu::Icon {
    padding-left: 8px;
}

QMenu::Item:selected {
    background-color: palette(highlight);
}
