QTabBar {
    qproperty-drawBase: 0;
}

QTabWidget::pane {
    border-top: 1px solid red;
    background: transparent;
    top: -1px;
    padding: 0;
}

QTabBar::tab {
    border: 1px solid palette(Mid);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: palette(Dark);
    color: palette(ToolTipText);
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 2px;
    min-width: 0px;
}

QTabBar::tab:selected {
    border-bottom: 1px solid palette(Window);
    background: palette(Window);
    color: palette(Text);
    margin-top: 0px;
}

QTabBar[single="true"]::tab {
    border-bottom: 1px solid palette(Window);
    background: palette(Window);
    color: palette(Text);
    margin-top: 0px;
    padding-bottom: 5px;
}

QToolBar#toolstoolbar {
    border: none;
    background: palette(Window);
    padding: 3px;
}

QToolBar#toolstoolbar::handle {
    image: url(:/icons/toolbar-handle.png);
}

QToolBar {
    background-color: transparent;
    min-height: 28px;
    max-height: 28px;
    border: none;
}

QInputDialog {
    background-color: palette(Window);
}

QMenu {
    font-family: 'Segoe UI Variable';
    background-color: palette(Midlight);
    border: 1px solid palette(Mid);
}

QMenu::Item:selected {
    background-color: palette(highlight);
}

QMessageBox {
    qproperty-iconSize: 24px;
}

QInputDialog QPushButton:default, 
QMessageBox QPushButton:default {
    background-color: #5a9ff2;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
}

QIputDialog QPushButton:default:hover,
QMessageBox QPushButton:default:hover {
    background-color: #4886f1;
}